@use './_home-page-var' as *;

@mixin header1 {
    font-size: 48px;
}

body {
    background-color: #0F162D;
    display: flex;
    justify-content: center;
    color: #FFF;
    font-family: 'DM Sans', sans-serif;
}

.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $home-page-witdh;
    height: home-page-height;

    & &__description {
        & .header {
            height: $description-header-height;
            @include header1;
        }
        
        & .text {
            height: $description-text-height;
        }
    }
}