@use './_home-page-var' as *;

body {
    background-color: #0F162D;
    display: flex;
    justify-content: center;
    color: #FFF;
    font-family: 'DM Sans', sans-serif;
}

.home-page {
    display: flex;
    justify-content: space-between;
    width: $home-page-witdh;
    height: $home-page-height;
    margin-top: $home-page-margin-top;

    & &__description {
        width: $description-width;
        height: $description-height;

        & .header {
            @include header1;
            height: $description-header-height;
            margin-bottom: $description-header-margin-bottom;
        }
        
        & .text {
            height: $description-text-height;
            @include body1;
        }
    }

    & &__tiles {
        width: calc($tile-width * 2 + 24px);
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;

        & .tile {
            width: $tile-width;
            background-color: #272D42;
            border-radius: $tile-br;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: $tile-margin-bottom;

            & .image {
                & img{
                    margin-top: $tile-img-margin-top;
                    width: $tile-img-width;
                    height: $tile-img-height;
                }
            }

            & .title {
                width: $tile-title-width;
                height: $tile-title-height;
                margin: $tile-title-margin;
                text-align: center;
                @include header3;
            }

            & .description {
                width: $tile-description-width;
                margin-bottom: $tile-description-margin-bottom;
                text-align: center;
                opacity: 0.5;
                @include body1;
            }
            
        }
    }

    @media  screen and (max-width: 1200px) {
        flex-direction: column;
        align-items: center;
        margin-top: $TAB_home-page-margin-top;

        & &__description {
            width: $TAB_description-width;

             & .header {
                margin-bottom: $TAB_description-header-margin-bottom;
             }
        }

        & &__tiles {
            width: calc($TAB_tile-width * 2 + 16px);
            margin-top: $TAB_tiles-margin-top;
    
            & .tile {
                width: $TAB_tile-width;
                margin-bottom: $TAB_tile-margin-bottom;

                & .image {
                    & img {
                        width: $TAB_img-width;
                        height: $TAB_img-height;
                    }
                }

                & .title {
                    width: $TAB_title-width;
                    height: $TAB_title-height;
                }

                .description {
                    width: $TAB_tile-description-width;
                    margin-bottom: $TAB_tile-description-margin-bottom;
                    @include body2;
                }
            }
        }
    }

    @media  screen and (max-width: 582px) {
        flex-direction: column;
        align-items: center;
        margin-top: $MOB_home-page-margin-top;

        & &__description {
            width: $MOB_description-width;

            & .header {
                height: $MOB_description-header-height;
                margin-bottom: $MOB_description-header-margin-bottom;
                @include header2;
            }

            & .text {
                height: $MOB_description-text-height;
            }
        }

        & &__tiles {
            width: $MOB_tile-width;
            margin-top: $TAB_tiles-margin-top;
            flex-direction: column;
            align-items: center;
    
            & .tile {
                width: $MOB_tile-width;
                min-height: $MOB_tile-height;
                margin-bottom: $TAB_tile-margin-bottom;

                & .image {
                    & img {
                        width: $TAB_img-width;
                        height: $TAB_img-height;
                    }
                }

                & .title {
                    width: $TAB_title-width;
                    height: $TAB_title-height;
                }

                .description {
                    width: $MOB_tile-description-width;
                    margin-bottom: $MOB_tile-description-margin-bottom;
                    @include body2;
                }
            }
        }
    }
}