@use './_home-page-var' as *;

body {
    background-color: #0F162D;
    display: flex;
    justify-content: center;
    color: #FFF;
    font-family: 'DM Sans', sans-serif;
}

.home-page {
    display: flex;
    justify-content: space-between;
    width: $home-page-witdh;
    height: home-page-height;
    margin-top: 159px;

    & &__description {
        width: $description-width;
        height: $description-height;

        & .header {
            @include header1;
            height: $description-header-height;
            margin-bottom: $description-header-margin-bottom;
        }
        
        & .text {
            height: $description-text-height;
            @include body1;
        }
    }

    & &__tiles {
        width: calc($tile-width * 2 + 24px);
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;

        & .tile {
            width: $tile-width;
            background-color: #272D42;
            border-radius: $tile-br;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: $tile-margin-bottom;

            & .image {
                margin-top: 24px;
                & img{
                    width: $tile-img-width;
                    height: $tile-img-height;
                }
            }

            & .title {
                width: $tile-title-width;
                height: $tile-title-height;
                margin: $tile-title-margin;
                text-align: center;
                @include header3;
            }

            & .description {
                width: $tile-description-width;
                min-height: $tile-description-height;
                margin-bottom: $tile-description-margin-bottom;
                text-align: center;
                opacity: 0.5;
                @include body1;
            }
            
        }
    }
}